<div ng-controller="basketController">
  <h4>Basket</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Commodity</th>
            <th>#</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="commodity in basket">
            <td>{{commodity.name}}</td>
            <td>{{commodity.amount}}</td>
            <td>
              <span class="glyphicon glyphicon-minus-sign pointer" aria-hidden="true" ng-click="decrementInBasket(commodity)"></span>
              <span class="glyphicon glyphicon-plus-sign pointer" aria-hidden="true" ng-click="incrementInBasket(commodity)"></span>
            </td>
            <td>
              <span class="glyphicon glyphicon-remove-sign pointer" aria-hidden="true" ng-click="removeFromBasket(commodity)"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">Order commodities</button>
    </div>
  </div>

  <ng-include src="'views/checkoutModal.html'"></ng-include>
</div>
