<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
				<h4 class="modal-title" id="checkoutModal">Checkout</h4>
			</div>
			<div class="modal-body">
				<div ng-show="chooseReceiver">
					<form ng-submit="$event.preventDefault()">
						<div class="form-group">
							<md-autocomplete
								md-selected-item="ctrl.selectedItem"
								md-search-text="ctrl.searchText"
								md-items="item in ctrl.querySearch(ctrl.searchText)"
								md-item-text="item.display"
								md-min-length="0"
								placeholder="Choose the person you waht to send to">
								<md-item-template>
									<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
								</md-item-template>
								<md-not-found>
									No states matching "{{ctrl.searchText}}" were found.
								</md-not-found>
							</md-autocomplete>
						</div>
					</form>
					<form >
						<div class="form-group">
							<label for="chooseDepartment">You can limit the user list by choosing user group</label>
							<select class="form-control">
								<option></option>
								<option ng-repeat="userGroup in userGroups">
									{{userGroup.name}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<label for="choosePerson">Choose the person you want to send to</label>
							<select class="form-control" ng-model="$parent.receiver" ng-options="user.name for user in users">
							</select>
						</div>
					</form>
				</div>
				<div ng-show="confirm">
					<p>You will send a message for the order of this commodities:</p>
					<p>
						<span ng-repeat="commodity in basket">
							{{commodity.name}}: {{commodity.amount}}
							<br />
						</span>
					</p>
					<p>To: {{$parent.receiver.name}}</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button ng-show="chooseReceiver" type="button" ng-click="confirmOrder()" class="btn btn-primary">Next</button>
				<button ng-show="confirm" type="button" ng-click="backToThePast()" class="btn btn-primary">Back</button>
				<button ng-show="confirm" type="button" ng-click="checkout()" class="btn btn-success">Send order</button>
			</div>
		</div>
	</div>
</div>
