<div>
  <h4>Content</h4>
  <div class="list-group">
    <li class="list-group-item" ng-repeat="commodity in commodities">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p>{{ commodity.name }}</p>

          <a role="button" data-toggle="collapse" href="#info{{commodity.commodity_code}}" aria-expanded="false" aria-controls="info{{commodity}}">Info</a>
          <p class="collapse" id="info{{commodity.commodity_code}}">
            {{ commodity.commodity_info }}<br />
          </p>
          <a href="" ng-click="toggleMoreInfo(commodity)" ng-show="hideMoreInfo">Less info <span class="glyphicon glyphicon-chevron-up"></span> </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="decrementValue(commodity)">-</button>
            </div>
            <input type="text" class="form-control" ng-model="commodity.amount" value="1" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="incrementValue(commodity)" >+</button>
              <button class="btn btn-default" ng-click="addToBasket(commodity)" type="button">Add to basket</button>
            </div>
          </div>
        </div>
      </div>
    </li>

  </div>
</div>
