<div>
  <div ng-show="addCustomCommodity">
    <h4>
      Custom commodity
      <a href="" ng-click="toggleCustomCommodity()">Show</a>
    </h4>
  </div>
  <div ng-show="customCommodity">
    <h4> 
      Custom commodity
      <a href="" ng-click="closeCustomCommodity()">Hide</a>
    </h4>
  </div>

  <div ng-show="customCommodity">

    <div class="panel panel-default" >
      <div class="panel-body">
        <form role="form" name="newCommodityForm">
          <div class="form-group">
            <label for="commodityName">Name</label>
            <input type="text" class="form-control" placeholder="E.g. Cookie" ng-model="$parent.newCommodityForm.name" />
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="decrementValue($parent.newCommodityForm)">-</button>
                </div>
                <input type="text" class="form-control" ng-model="$parent.newCommodityForm.amount" value="1" />
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="incrementValue($parent.newCommodityForm)" >+</button>
                  <button class="btn btn-default" ng-click="addCustomCommodityToBasket()" type="button">Add to basket</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
