body{
  background-color: white;
}

.cube{
  height: 100px;
  width: 100px;
  background-color: green;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

@media screen and (min-width: 768px) {

  .custom-collapse .collapse {
    display:block;
  }
}
